@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3 class="text-primary"> Category List </h3>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-success"> <i class="bi bi-plus"></i> Create new Category</a>
        </div>
    </div>
</div>
<br />
<table class="table table-bordered table-stripped">
    <thead style="width:100%;">
        <tr class="table-primary">
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr class="table-dark">
                <td width="50%">
                    @obj.Name
                </td>
                <td width="30%">
                    @obj.DisplayOrder
                </td>
                <td class="w-75 btn-group" role="group">
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil"></i> Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>